@media (min-width: 768px) {
    .container {
        width:90%;
        max-width: 750px !important;
    }
}

@media (min-width: 992px) {
    .container {
        width:90%;
        max-width: 970px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        width:90%;
        max-width: 1170px !important;
    }
}
