body
  background-image: url("/Content/Images/food.png") !important;

  form
    .navbar
      background-color: white

    .body-content
      padding: 25px
      
      .footer
        padding: 25px
        width 100%
        background-color: white