body
  background-image: url("/Content/Images/food.png") !important;

  form

    .well
      background-color: white

    .content-container-odd, .content-container-even
      margin-top 50px
      margin-bottom: 50px
      padding 0
      padding-left: 0
      padding-right: 0
      height: 480px
      background-color: rgba(255, 255, 255, 0)
      border: none
      box-shadow: none

      .content-container-heading
        border-bottom: 1px solid rgba(0, 0, 0, 0.15)
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)
        padding 25px
        padding-left: 80px
        padding-right: 80px

    .content-container-even
      background-color: rgba(255, 255, 255, 1)

    .jumbotron
      background-color: white      

    .navbar
      background-color: white

      .navbar-toggle
        & > .icon-bar
          background-color: #428bca
          
    .body-content
      padding: 0px
      margin-top: 25px
      
      .footer
        background-color: white