body {
  background-image: url("/Content/Images/food.png") !important;
  color: #428bca;
}
body form .well {
  background-color: #fff;
}
body form .content-container-odd,
body form .content-container-even {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 480px;
  background-color: rgba(255,255,255,0);
  border: none;
  box-shadow: none;
  background-image: url("/Content/Images/food.png") !important;
  border-bottom: 15px solid #fff;
}
body form .content-container-odd.dynamic-height,
body form .content-container-even.dynamic-height {
  min-height: auto;
}
body form .content-container-odd .content-container-heading,
body form .content-container-even .content-container-heading {
  color: #428bca;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(255,255,255,0);
  text-align: center;
}
body form .content-container-odd .content-container-content,
body form .content-container-even .content-container-content {
  padding: 30px;
  padding-bottom: 15px;
}
body form .content-container-odd {
  background-image: url("/Content/Images/restaurant.png") !important;
}
body form .content-container-odd .content-container-heading {
  color: #fff;
}
body form .jumbotron {
  background-color: #fff;
}
body form .navbar {
  background-color: #fff;
}
body form .navbar .navbar-toggle > .icon-bar {
  background-color: #428bca;
}
body form .body-content {
  padding: 0px;
  margin-top: 25px;
}
body form .body-content .footer {
  background-color: #fff;
}
