.content-container-even
  min-height: 640px
 
  .panel-body
    max-height: 360px
    overflow: hidden
    img
      width: 100%;
      margin-top: -125px;
      height: 600px;
      object-fit: contain;
      padding: 25px

    iframe.embedded-video
      height: 600px;   
      padding: 25px

      &:hover
        cursor: pointer
        
  .panel:hover
    background-color: rgba(66, 139, 202, 0.10)

  .panel:hover .panel-heading
    background-color: darken(#428bca, 15)